* {
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
}

#load_img {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #aa222255;
  display: none;
}

body {
  overflow: hidden;
  padding: 2px;
}

table {
  width: 100%;
}

/*
table,td {
  border: 1px solid red;
  border-collapse: collapse;
}
*/
label {
  display: block;
  width: x;
  height: y;
  text-align: right;
}

#fsFile {
  /* top right bottom left */
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  padding-left: 10px;
}

#filepath {
  overflow-x: auto;
  resize: none;
  white-space: nowrap;
  width: 99%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.topnav {
  overflow: hidden;
}

.topnav a {
  border: 1px solid black;
  /* Top right bottom left */
  margin: 1px 2px 1px 2px;
  float: left;
  color: #0;
  text-align: center;
  padding: 4px 5px;
  text-decoration: none;
  font-weight: bold;
}

.topnav a:hover {
  cursor: pointer;
  background-color: #aaffaa;
  color: blue;
}

.topnav a:active {
  background-color: blue;
  color: #aaffaa;
}

.topnav a:focus {
  background-color: blue;
  color: #aaffaa;
}

fieldset {
  /*margin: 2px 2px 4px 4px;*/
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 2px 0px;
  padding-left: 4px;
}

input[type='number'] {
  margin-top: 2px;
  width: 62px;
}

#fsGo {
  width: 350px;
}

.inFsGo {
  width: 200px;
}

#toMiddleLine,
#toMiddleSub,
#toMiddleTime,
#toTop,
#toBottom {
  width: 40px;
}

#toTop,
#toBottom {
  margin-top: 14px;
  margin-left: 40px;
  margin-right: 10px;
}

#current_line_number,
#current_sub_number

/*,#current_sub_time*/
  {
  width: 46px;
}

#fsAdj,
#fsGo {
  /* top right bottom left */
  padding: 1px 1px 1px 4px;
  margin: 0px 0px 0px 0px;
  width: 370px;
}

#reSrch {
  width: 48%;
}

#reRepl {
  width: 46%;
  margin-bottom: 4px;
}

#reSNxt,
#reRun {
  width: 68px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 4px 0px;
}

#reSNxt,
#undoRem {
  float: right;
  margin-right: 4px;
}

#file_lines {
  overflow: hidden;
  /* top right bottom left */
  /*inset: 330px 4px 4px 40px;*/
  position: absolute;
  left: 2px;

  /*width: 10%;*/
  border: 1px solid white;
  padding: 2px 2px 2px 2px;
  font-family: monospace;
  white-space: pre;
  text-align: end;
}

@keyframes blink_red {
  50% {
    border: 4px solid #ff0000;
  }
}

@keyframes blink_green {
  50% {
    border: 4px solid #00ff00;
  }
}

.blink_ok {
  animation: blink_green .5s step-end infinite alternate;
  animation-iteration-count: 3;
}

.blink_ko {
  animation: blink_red .5s step-end infinite alternate;
  animation-iteration-count: 3;
}

#file_text {
  overflow: hidden;
  /* top right bottom left*/
  margin-left: 34px;
  padding: 2px 2px 2px 2px;
  width: 90%;
  border: 1px solid blue;
  font-family: monospace;
  white-space: pre;
}


#file_container {
  display: flex;
  position: absolute;
  border: 4px solid transparent;
  /*  border: unset;*/
  /* top right bottom left */
  inset: 376px 4px 4px 4px;
  line-height: 1em;
  /*top: 110px; right: 8px; left: 8px; bottom: 4px;*/
  overflow-y: auto;
  /*  word-wrap: break-word;*/
  /*  white-space: nowrap;*/
  /*resize: none;*/
}