* {
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
}

body {
  overflow: hidden;
  padding: 2px;
}

table {
  width: 100%
}

.topnav {
  overflow: hidden;
  /*  border-bottom: 1px solid black;*/
  /*background-color: #333;*/
  /*background-color: #cccccc;*/
}

.topnav a {
  border: 1px solid black;
  /* Top right bottom left */
  margin: 2px 4px 2px 4px;
  /* 4px 4px;*/
  float: left;
  /*color: #f2f2f2;*/
  color: #0;
  text-align: center;
  padding: 2px 12px;
  text-decoration: none;
  /*  font-size: 17px;*/
}

.topnav a:hover {
  cursor: pointer;
  background-color: #aaffaa;
  color: blue;
}

.topnav a:active {
  background-color: blue;
  color: #aaffaa;
}

.topnav a:focus {
  background-color: blue;
  color: #aaffaa;
}

fieldset {
  margin: 2px 2px 4px 4px;
}

#filepath {
  margin-right: 0px;
  width: 98%;
}

input[type='number'] {
  margin-top: 2px;
  width: 40px;
}

.file_lines {
  overflow: hidden;
  /* top right bottom left */
  /*inset: 330px 4px 4px 40px;*/
  width: 10%;
  border: unset ;
  border: 1px solid white;
  font-family: monospace;
  white-space: pre;
  text-align: end;
}

.file_text {
  overflow: hidden;
  /* top right bottom left
  margin-left: 21%; */
  width: 90%;
  border: 1px solid blue;
  font-family: monospace;
  white-space: pre;
}


.file_container {
  display: flex;
  position: absolute;
  border: unset ;
  /* top right bottom left */
  inset: 330px 4px 4px 4px;
  line-height: 1em;
  /*top: 110px; right: 8px; left: 8px; bottom: 4px;*/
  overflow-y: auto;
  /*  word-wrap: break-word;*/
  /*  white-space: nowrap;*/
  /*resize: none;*/
}
