* {
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
}

p {
  /* top right bottom left */
  margin: 0px 0px 0px 0px;
}

#load_img {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #aa222255;
  display: none;
}

body {
  overflow: hidden;
  padding: 2px;
}

table {
  width: 100%;
}

label {
  display: block;
  width: x;
  height: y;
  text-align: right;
}

#fsFile {
  /* top right bottom left */
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  padding-left: 10px;
}

#filepath {
  overflow-x: auto;
  resize: none;
  white-space: nowrap;
  width: 99%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.topnav {
  overflow: hidden;
}

.topnav a {
  border-radius: 4px;
  border: 1px solid black;
  /* Top right bottom left */
  margin: 1px 2px 1px 2px;
  float: left;
  text-align: center;
  padding: 2px 5px;
  text-decoration: none;
  font-weight: bold;
}

.topnav a:hover {
  cursor: pointer;
  background-color: #aaffaa;
  color: blue;
}

.topnav a:active {
  background-color: blue;
  color: #aaffaa;
}

.topnav a:focus {
  background-color: blue;
  color: #aaffaa;
}

fieldset {
  /*margin: 2px 2px 4px 4px;*/
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 2px 0px;
  padding-left: 4px;
}

input[type='number'] {
  margin-top: 2px;
  width: 62px;
}

.inFsGo {
  width: 208px;
  float: left;
}

#inputs {
  margin-top: -14px;
}

#toMiddleLine,
#toMiddleSub,
#toMiddleTime {
  width: 40px;
  margin-left: 10px;
}

#toTop,
#toBottom {
  width: 30px;
}

#remFirst,
#remLast {
  width: 90px;
}

#toTop,
#remFirst {
  margin-top: 10px;
}

#undoRem {
  margin-left: 93px;
}

#current_line_number,
#current_sub_number {
  width: 46px;
}

#fsAdj,
#fsGo {
  /* top right bottom left */
  padding: 1px 1px 1px 4px;
  margin: 0px 0px 0px 0px;
  width: 370px;
}

#reSrch {
  margin-top: 4px;
  width: 42%;
}

#reRepl {
  width: 38%;
  margin-bottom: 4px;
}

#reRun {
  /* top right bottom left */
  padding: 3px 3px 2px 3px;
  float: right;
  margin-right: 4px;
  margin-top: 3px;
}

#reSNxt {}

@keyframes blink_red {
  50% {
    border: 4px solid #ff0000;
  }
}

@keyframes blink_green {
  50% {
    border: 4px solid #00ff00;
  }
}

.blink_ok {
  animation: blink_green .5s step-end infinite alternate;
  animation-iteration-count: 3;
}

.blink_ko {
  animation: blink_red .5s step-end infinite alternate;
  animation-iteration-count: 3;
}

#file_container {
  display: flex;
  position: absolute;
  border: 0px solid transparent;
  /*  border: unset;*/
  /* top right bottom left */
  inset: 330px 0px 0px 0px;
  line-height: 1em;
  /*top: 110px; right: 8px; left: 8px; bottom: 4px;*/
  overflow-y: auto;
  /*  word-wrap: break-word;*/
  /*  white-space: nowrap;*/
  /*resize: none;*/
}

#file_lines {
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 34px;
  border: 1px solid red;
  background-color: #FFD700;
  /* top right bottom left */
  padding: 1px 0px 1px 0px;
  font-family: monospace;
  white-space: pre;
  text-align: center;
}

#file_text {
  overflow: hidden;
  /* top right bottom left*/
  margin-left: 37px;
  padding: 2px 2px 2px 2px;
  width: 100%;
  border: 1px solid blue;
  font-family: monospace;
  white-space: pre;
}