* {
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
}

body {
  overflow: hidden;
  padding: 2px;
}

table {
  width: 100%;
}

/*
table,td {
  border: 1px solid red;
  border-collapse: collapse;
}
*/
label {
  display: block;
  width: x;
  height: y;
  text-align: right;
}

#filepath {
  overflow-x: auto;
  resize: none;
  white-space: nowrap;
  width: 100%;
}

.topnav {
  overflow: hidden;
}

.topnav a {
  border: 1px solid black;
  /* Top right bottom left */
  margin: 1px 2px 1px 2px;
  float: left;
  color: #0;
  text-align: center;
  padding: 2px 5px;
  text-decoration: none;
}

.topnav a:hover {
  cursor: pointer;
  background-color: #aaffaa;
  color: blue;
}

.topnav a:active {
  background-color: blue;
  color: #aaffaa;
}

.topnav a:focus {
  background-color: blue;
  color: #aaffaa;
}

fieldset {
  margin: 2px 2px 4px 4px;
}

input[type='number'] {
  margin-top: 2px;
  width: 60px;
}

#file_lines {
  overflow: hidden;
  /* top right bottom left */
  /*inset: 330px 4px 4px 40px;*/
  position: absolute;
  left: 2px;

  /*width: 10%;*/
  border: 1px solid white;
  padding: 2px 2px 2px 2px;
  font-family: monospace;
  white-space: pre;
  text-align: end;
}

#file_text {
  overflow: hidden;
  /* top right bottom left*/
  margin-left: 34px;
  padding: 2px 2px 2px 2px;
  width: 90%;
  border: 1px solid blue;
  font-family: monospace;
  white-space: pre;
}


#file_container {
  display: flex;
  position: absolute;
  border: unset;
  /* top right bottom left */
  inset: 390px 4px 4px 4px;
  line-height: 1em;
  /*top: 110px; right: 8px; left: 8px; bottom: 4px;*/
  overflow-y: auto;
  /*  word-wrap: break-word;*/
  /*  white-space: nowrap;*/
  /*resize: none;*/
}